* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    min-height: 200vh;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 75em;
    margin: 0 auto;
}
header {
    margin-top: 1.5em;
    width: 100%;
    height: 3.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 6.25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo span:nth-child(1) {
    background: rgb(0,192,253);
    background: linear-gradient(90deg, rgba(0,192,253,1) 0%, rgba(231,15,170,1) 100%);
    font-size: 1.875em;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo span:nth-child(2) {
    font-size: 1.563em;
    font-weight: 600;
    background: rgb(0,192,253);
    background: linear-gradient(90deg, rgba(0,192,253,1) 0%, rgba(231,15,170,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-button {
    width: 38.125em;
    height: 2em;
    display: flex;
    margin-left: 15em;
    align-items: center;
    justify-content: space-between;
}
.nav-button button {
    color: #666666;
    background: transparent;
    border: none;
    font-size: 1.4em;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}
.nav-button button:hover {
    background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-button button:hover::before {
    content: '';
    position: absolute;
    width: 2px;
    left: -5px;
    height: 100%;
    background: linear-gradient(0deg, #13B0F5 30%, #E70FAA 100%);
    animation: focus-on-button 1.2s infinite linear;
}
@keyframes focus-on-button {
    0% {
        background: linear-gradient(0deg, #13B0F5 30%, #E70FAA 100%);
    }
    50% {
        background: transparent;
    }
    0% {
        background: linear-gradient(0deg, #13B0F5 30%, #E70FAA 100%);
    }
}
.contact-button {
    width: 8.125em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-button ion-icon {
    font-size: 2.2em;
    color: #666666;
}
.imagine {
    width: 21.875em;
    height: 21.875em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(0,192,253);
    background: linear-gradient(90deg, #E70FAA 0%, #00C0FD 100%);
}
.imagine img {
    width: 21.2em;
    height: 21.2em;
    border-radius: 50%;
    object-fit: cover;
    filter: saturate(0.3);
}
.intro {
    display: flex;
    width: 100%;
    height: 21.875em;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.75em;
    margin-bottom: 9em;
}
.line-intro {
    width: 100%;
    display: flex;
    margin-bottom: 5em;
}
.line-intro hr:nth-child(1) {
    width: 7em;
    background-color: #E70FAA;
    border-radius: 10px 0 0 10px;
}
.line-intro hr:nth-child(2) {
    width: 20em;
    background: #13B0F5;
}
.line-intro hr:nth-child(3) {
    width: 100%;
    border-radius: 0 10px 10px 0;
}
.line-intro hr {
    width: 2em;
    height: 0.7em;
    background: #42446E;
    border: none;
}
.intro span img {
    width: 1em;
    height: 1em;
}
.intro span {
    font-weight: 600;
    font-size: 3.625em;
    color: #42446E;
}
.intro span span {
    font-size: 1em;
    background: rgb(0,192,253);
    background: linear-gradient(90deg, #13B0F5 50%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tech-stack {
    height: 30.625em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-title {
    width: 45em;
    height: 6.875em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.title {
    font-size: 3em;
    font-weight: 600;
    color: #42446E;
}
.subtitle {
    font-size: 2em;
    color: #666666;
}
.tech {
    width: 7.5em;
    height: 7.5em;
}
.stack {
    width: 100%;
    height: 20em;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 25px 25px; 
    place-items: center;
    border-radius: 80% 20% 80% 20%;    
    background: #00c2fd57;
}
.tech img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    margin-top: 5em;
    width: 100%;
    height: 15.75em;
}
footer .logo span:nth-child(1) {
    background: #666666;
    color: #666666;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .logo span:nth-child(2) {
    background: #666666;
    color: #666666;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .logo {
    height: 5em;
}
.up-side-footer {
    width: 100%;
    border-bottom: 2px solid #666666;
    height: 8.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts-footer {
    width: 38.75em;
    display: flex;
    justify-content: space-between;
}
.contacts-footer div:nth-child(1) {
    width: 27.5em;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    color: #42446E;
    margin-right: 4em;
}

.contacts-footer div:nth-child(2){
    width: 8.125em;
    display: flex;
    justify-content: space-between;
}
.contacts-footer div:nth-child(2) ion-icon{
    font-size: 1.8em;
    color: #42446E;
}
.bottom-side-footer {
    width: 100%;
    height: 6.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .nav-button-footer {
    width: 34.625em;
    display: flex;
    justify-content: space-between;
}
footer .nav-button-footer button {
    border: none;
    font-size: 1.1em;
    color: #42446E;
    background: transparent;
    cursor: pointer;
}
.love {
    font-size: 1.2em;
    color: #42446E;
}
.love span {
    background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
.project {
    margin-top: 4.5em;
}
.list-project {
    width: 100%;
    min-height: 30em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    row-gap: 1.8em;
    margin-top: 5em;
}
.card-project {
    overflow: hidden;
    width: 23.313em;
    height: 35.438em;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}
.card-imagine {
    width: 100%;
    height: 16.25em;
}
.card-imagine img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
}
.card-about {
    width: 19.688em;
    height: 16.25em;
    margin: 0 auto;
    margin-top: 27px;
}
.card-title {
    width: 100%;
    font-size: 1.75em;
    font-weight: 500;
    color: #42446E;
}
.info-about-project {
    width: 100%;
    height: 7.5em;
    font-size: 1em;
    font-weight: 200;
    color: #42446E;
    margin-top: 0.4em;
}
.tech-stack-project {
    width: 100%;
    font-weight: 200;
    color: #42446E;
    margin: 0.9em 0;
}
.tech-stack-project span{
   font-weight: 300;
   font-size: 1.1em;
}
.button-open-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.3em;
}
.button-open-card button {
    background: transparent;
    border: none;
}
.preview {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.875em;
    height: 1.625em;
    text-decoration:underline;
}
.preview img {
    height: 100%;
}
.view-code {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.375em;
    height: 1.625em;
    text-decoration: underline;
}
.view-code img {
    height: 100%;
}